@import './reset.css';

/* TODO: I like this theme: https://axios-http.com/docs/example */
body {
    margin: 1rem 5rem;
    background-color: #ffefcf;
    font-family: "DM Sans", sans-serif;
}

h1 {
    font-size: 3rem;
    margin: 2rem 0;
}